body 
{ 
	background-color: #F9F9F5;
    font-family: sans-serif;
    padding-top: 0px;
}

p, pre, blockquote {
    margin: 0 0 20px;
}

h1 {
  margin: 30px 0;
}

#editor-title {
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #2C3E50;
    font-weight: bold;
    text-align: center; /* make it horizontal center */
    border-bottom: 1px solid #EEEEEE;
    line-height: 30px;
}

#wmd-button-bar {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 48%;
}

#left-column, #right-column
{
	width: 50%;
}

.wmd-panel {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #F7F7F7;
}

.wmd-input, .wmd-input:focus, #md-section-helper
{ 
	width: 100%;
	background-color: #F9F9F5;
	border: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    color: #2C3E50;
    font-size: 16px;
    line-height: 27px;
    resize: none;
}

#md-section-helper {
    position: absolute;
    top: -100px;
    height: 40px;
    overflow-y: scroll;
    padding: 0 6px;
    top: -100px;
    z-index: -1;
}

.wmd-preview { 
	width: 100%;
	background-color: #F9F9F5;
    color: #2C3E50;
    font-size: 16px;
    line-height: 27px;
    overflow: auto;
    border: 2px dashed #EEEEEE;
}

.wmd-button-row 
{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
    min-width: 800px;
}

.wmd-spacer
{
	width: 0px; 
	height: 20px; 
	margin-left: 30px;
	
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    font-size: 17px;
    margin-left: 10px;
}

.wmd-button:hover {
}

.wmd-button > span {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 40px;
}
.wmd-spacer2
{
    left: 170px;
}
.wmd-spacer3
{
    left: 295px;
}

.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
